<div class="panel panel-default">
  <div class="panel-heading">{{ text_head_customer }}</div>
  <div class="panel-body">
    <div class="form-group" style="display: {% if customer_groups|length < 2 %} none {% endif %}">
      <label class="control-label">{{ entry_customer_group }}</label>
      {% for customer_group in customer_groups %}
        <div class="radio">
          <label><input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" {% if customer_group.customer_group_id == customer_group_id %}checked="checked" {% endif %}>
          {{ customer_group.name }}</label>
        </div>
      {% endfor %}
    </div>
    {% include 'default/template/extension/module/custom/field.twig' with {'fields': fields} %}
  </div>
</div>
<script>
let customCustomer;
document.addEventListener("DOMContentLoaded", () => {
  customCustomer = new CustomCustomer();
});
</script>